// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#firstbar
{
  min-width:960px;
  height:4000px;
  background:url("http://www.blogto.com/upload/2013/09/2011318-yonge-mall.jpg");
  background-repeat:none;
}



footer {
  padding-top: 1000px;
  margin-bottom: 5px;
}