// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#firstbar
{
  min-width:960px;
  height:200px;
  right: 100px;
}
.worked {
  width: 400;
}
